.site-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;       
}

.logo {
        display: block;

        color: $main-color;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
}

.logo__accent-color {
        color: $logo-second-color;
    }

.container--center {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ECECEC;
    }
} 

.site-nav__list {

        display: flex;
        margin-left: 88px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;    
        
        @media screen and (min-width: 1200px) {
             margin-left: 93px;
        }
}

@media screen and (max-width: 767px) {
            .site-nav__list {
                display: none;
            }
        }
        
.site-nav__item:not(:last-child) {
        margin-right: 50px;
}

.site-nav__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color 250ms $timing-function;

        &:hover,
        &:focus {
        color: $main-color;
        }
}

.contacts-list {
        display: block;
        margin-left: auto;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;

         @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            margin-left: auto;
            font-size: 14px;
            line-height: 1.14;
        }  
}

.contacts-list__link {
        display: flex;
        align-items: center;

        text-decoration: none;
        color: $second-font-color;
        padding-bottom: 10px;

        transition: color 250ms $timing-function;

        &:hover,
        &:focus {
        color: $main-color;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
}

.contacts-list__icon {
        margin-right: 10px;
        fill: $second-font-color;

        .contacts-list__link:hover &,
        .contacts-list__link:focus & {
        fill: $main-color;
        }
}

.site-nav__link--underline {
        position: relative;

        &::after {
        content: "";
        
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $main-color;
        border: transparent;
        border-radius: 2px;
        }
}

@media screen and (min-width: 1200px) {
    
       .contacts-list__item +.contacts-list__item {
    margin-left: 30px;
    }

}