.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 93px;
        padding-bottom: 94px;


        background: $backdrop-bg-color;

        opacity: 1;
        transition: opacity 250ms $timing-function;
        overflow-y: scroll;



    }

    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }

    .modal {      
        
    //     // min-width: 528px;
    //     // min-height: 591px;

       
        background-color: $main-bg-color;

        @media screen and (min-width: 480px) {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 450px;
            width: 100%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 250ms $timing-function;
        }

        @media screen and (min-width: 1140px) {
            max-width: 528px;
        }

        
        
        
    }

    .modal__close-button {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
       
        background: $main-bg-color;
        border: 1px solid $close-button-border;
        border-radius: 50%;
        
        &:hover,
        &:focus {
        cursor: pointer;
    }
    }


    .modal__close-icon {
        top: 0;
        right: 0;

        width: 18px;
        height: 18px;

        fill: $logo-second-color;

        transition: fill 250ms $timing-function;
        
        .modal__close-button:hover &,
        .modal__close-button:focus & {
        fill: $main-color;
    }
    }

